In [1]:
import pandas as pd
grid_predictions = pd.read_csv('grid_prediction.csv')
grid_predictions = grid_predictions.drop(columns=['Unnamed: 0'])
grid_predictions = grid_predictions.set_index('grid_id')
grid_predictions.head()

                         timestamp  prediction
grid_id
1        2022-01-01 00:00:00-08:00   14.628183
2        2022-01-01 00:00:00-08:00   24.541783
3        2022-01-01 00:00:00-08:00   41.942400
4        2022-01-01 00:00:00-08:00    8.669543
5        2022-01-01 00:00:00-08:00    9.493083

In [2]:
grids = pd.read_csv('/Users/shivambhandari/Downloads/assignment2/data/county_grids.csv')
grids = grids.set_index('grid_id')
grids.head()

,lon,lat,geom
grid_id,,,
1,-118.315186,33.722694,"POLYGON((-118.3205629134282 33.71817195965206,..."
2,-118.304397,33.722721,"POLYGON((-118.3097750682837 33.71820022592899,..."
3,-118.293609,33.722748,POLYGON((-118.29898721600296 33.71822752468899...
4,-118.336799,33.731650,POLYGON((-118.34217530494158 33.72712745377649...
5,-118.326009,33.731680,POLYGON((-118.33138631691465 33.72715765836617...

In [3]:
joined = grids.join(grid_predictions)
joined.head()

,lon,lat,geom,timestamp,prediction
grid_id,,,,,
1,-118.315186,33.722694,"POLYGON((-118.3205629134282 33.71817195965206,...",2022-01-01 00:00:00-08:00,14.628183
1,-118.315186,33.722694,"POLYGON((-118.3205629134282 33.71817195965206,...",2022-01-01 01:00:00-08:00,15.855530
1,-118.315186,33.722694,"POLYGON((-118.3205629134282 33.71817195965206,...",2022-01-01 02:00:00-08:00,14.155800
1,-118.315186,33.722694,"POLYGON((-118.3205629134282 33.71817195965206,...",2022-01-01 03:00:00-08:00,11.010829
1,-118.315186,33.722694,"POLYGON((-118.3205629134282 33.71817195965206,...",2022-01-01 04:00:00-08:00,8.912643

In [4]:
joined.to_csv('grid_for_qgis.csv')

In [5]:
joined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3151354 entries, 1 to 4234
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   lon         float64
 1   lat         float64
 2   geom        object
 3   timestamp   object
 4   prediction  float64
dtypes: float64(3), object(2)
memory usage: 144.3+ MB

In [6]:
joined['timestamp'] = pd.to_datetime(joined['timestamp'])
joined.head()

,lon,lat,geom,timestamp,prediction
grid_id,,,,,
1,-118.315186,33.722694,"POLYGON((-118.3205629134282 33.71817195965206,...",2022-01-01 00:00:00-08:00,14.628183
1,-118.315186,33.722694,"POLYGON((-118.3205629134282 33.71817195965206,...",2022-01-01 01:00:00-08:00,15.855530
1,-118.315186,33.722694,"POLYGON((-118.3205629134282 33.71817195965206,...",2022-01-01 02:00:00-08:00,14.155800
1,-118.315186,33.722694,"POLYGON((-118.3205629134282 33.71817195965206,...",2022-01-01 03:00:00-08:00,11.010829
1,-118.315186,33.722694,"POLYGON((-118.3205629134282 33.71817195965206,...",2022-01-01 04:00:00-08:00,8.912643

In [7]:
joined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3151354 entries, 1 to 4234
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   lon         float64
 1   lat         float64
 2   geom        object
 3   timestamp   datetime64[ns, pytz.FixedOffset(-480)]
 4   prediction  float64
dtypes: datetime64[ns, pytz.FixedOffset(-480)](1), float64(3), object(1)
memory usage: 144.3+ MB

In [8]:
joined_6_to_9 = joined.loc[(joined['timestamp'].dt.hour >= 6) & (joined['timestamp'].dt.hour <= 9)]
joined_6_to_9.head()

,lon,lat,geom,timestamp,prediction
grid_id,,,,,
1,-118.315186,33.722694,"POLYGON((-118.3205629134282 33.71817195965206,...",2022-01-01 06:00:00-08:00,5.263100
1,-118.315186,33.722694,"POLYGON((-118.3205629134282 33.71817195965206,...",2022-01-01 07:00:00-08:00,5.310000
1,-118.315186,33.722694,"POLYGON((-118.3205629134282 33.71817195965206,...",2022-01-01 08:00:00-08:00,5.562789
1,-118.315186,33.722694,"POLYGON((-118.3205629134282 33.71817195965206,...",2022-01-01 09:00:00-08:00,5.069000
1,-118.315186,33.722694,"POLYGON((-118.3205629134282 33.71817195965206,...",2022-01-02 06:00:00-08:00,2.510527

In [9]:
joined_6_to_9 = joined_6_to_9.drop(columns=['timestamp'])

In [10]:
joined_6_to_9 = joined_6_to_9.groupby(['grid_id','lat','lon','geom']).mean()
joined_6_to_9.head()

                                                                                  prediction
grid_id lat       lon         geom
1       33.722694 -118.315186 POLYGON((-118.3205629134282 33.71817195965206,-...    8.944871
2       33.722721 -118.304397 POLYGON((-118.3097750682837 33.71820022592899,-...    9.856514
3       33.722748 -118.293609 POLYGON((-118.29898721600296 33.71822752468899,...   11.981926
4       33.731650 -118.336799 POLYGON((-118.34217530494158 33.72712745377649,...    8.539971
5       33.731680 -118.326009 POLYGON((-118.33138631691465 33.72715765836617,...    8.759448

In [11]:
joined_6_to_9.to_csv('joined_6_to_9.csv')

In [12]:
joined_16_to_19 = joined.loc[(joined['timestamp'].dt.hour >= 16) & (joined['timestamp'].dt.hour <= 19)]
joined_16_to_19 = joined_16_to_19.drop(columns=['timestamp'])
joined_16_to_19 = joined_16_to_19.groupby(['grid_id','lat','lon','geom']).mean()
joined_16_to_19.head()

                                                                                  prediction
grid_id lat       lon         geom
1       33.722694 -118.315186 POLYGON((-118.3205629134282 33.71817195965206,-...   14.352677
2       33.722721 -118.304397 POLYGON((-118.3097750682837 33.71820022592899,-...   14.670282
3       33.722748 -118.293609 POLYGON((-118.29898721600296 33.71822752468899,...   16.464760
4       33.731650 -118.336799 POLYGON((-118.34217530494158 33.72712745377649,...   12.308052
5       33.731680 -118.326009 POLYGON((-118.33138631691465 33.72715765836617,...   13.883588

In [13]:
joined_16_to_19.to_csv('joined_16_to_19.csv')

In [14]:
joined_weekday = joined.loc[(joined['timestamp'].dt.dayofweek <= 4) & (joined['timestamp'].dt.dayofweek >= 0)]
joined_weekday = joined_weekday.drop(columns=['timestamp'])
joined_weekday = joined_weekday.groupby(['grid_id','lat','lon','geom']).mean()
joined_weekday.head()

                                                                                  prediction
grid_id lat       lon         geom
1       33.722694 -118.315186 POLYGON((-118.3205629134282 33.71817195965206,-...   14.364815
2       33.722721 -118.304397 POLYGON((-118.3097750682837 33.71820022592899,-...   15.181573
3       33.722748 -118.293609 POLYGON((-118.29898721600296 33.71822752468899,...   17.045234
4       33.731650 -118.336799 POLYGON((-118.34217530494158 33.72712745377649,...   13.236034
5       33.731680 -118.326009 POLYGON((-118.33138631691465 33.72715765836617,...   14.048716

In [15]:
joined_weekday.to_csv('joined_weekday.csv')

In [16]:
joined_weekend = joined.loc[(joined['timestamp'].dt.dayofweek >= 5) & (joined['timestamp'].dt.dayofweek <= 6)]
joined_weekend = joined_weekend.drop(columns=['timestamp'])
joined_weekend = joined_weekend.groupby(['grid_id','lat','lon','geom']).mean()
joined_weekend.head()

                                                                                  prediction
grid_id lat       lon         geom
1       33.722694 -118.315186 POLYGON((-118.3205629134282 33.71817195965206,-...    7.837340
2       33.722721 -118.304397 POLYGON((-118.3097750682837 33.71820022592899,-...    8.946314
3       33.722748 -118.293609 POLYGON((-118.29898721600296 33.71822752468899,...   11.780543
4       33.731650 -118.336799 POLYGON((-118.34217530494158 33.72712745377649,...    6.318059
5       33.731680 -118.326009 POLYGON((-118.33138631691465 33.72715765836617,...    7.072555

In [17]:
joined_weekend.to_csv('joined_weekend.csv')